#todo-form input {
  border: white 1px solid;
  border-radius: 5px;
  width: 200px;
  padding: 5px;
  text-align: center;
  background: transparent;
  color: white;
}

#todo-form input:focus {
  outline: none;
}

#todo-form input:focus::placeholder {
  color: transparent;
}

#todo-form input::placeholder {
  color: white;
}

#todo-list li {
  list-style: none;
}

#todo-list li > label {
  color: white;
  margin: 5px;
}

#todo-list li > button {
  border: none;
  background-color: transparent;
  color: white;
  text-align: center;
}

.checkBox input {
  display: none;
}

.checkBoxStyle {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  height: 13px;
  width: 13px;
  border: solid 1px black;
  opacity: 0.8;
  background-color: #eeeeee;
}

.checkBox:hover .checkBoxStyle {
  background-color: #cccccc;
}

.check {
  border-color: red;
}

.checkBoxStyle::before,
.checkBoxStyle::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 0;
  background-color: red;
  position: absolute;
  transform-origin: left top;
}

.checkBoxStyle::before {
  top: 6px;
  left: 1px;
  border-radius: 2px;
  transform: rotate(-45deg);
}

.checkBoxStyle::after {
  top: 13px;
  left: 8px;
  border-radius: 2px;
  transform: rotate(-135deg);
}

.checkBox input:checked + .checkBoxStyle {
  background-color: #86dc74;
  border-color: red;
}

.checkBox input:checked + .checkBoxStyle::before {
  height: 10px;
  transition: all 0.15s ease;
}

.checkBox input:checked + .checkBoxStyle::after {
  height: 20px;
  transition: all 0.15s ease 0.15s;
}
