#todo-form input {
  border: white 1px solid;
  border-radius: 5px;
  width: 200px;
  padding: 5px;
  text-align: center;
  background: transparent;
  color: white;
}

#todo-form input:focus {
  outline: none;
}

#todo-form input:focus::placeholder {
  color: transparent;
}

#todo-form input::placeholder {
  color: white;
}

#todo-list li {
  list-style: none;
}

#todo-list li > label {
  color: white;
  margin: 5px;
}

#todo-list li > button {
  border: none;
  background-color: transparent;
  color: white;
  text-align: center;
}

.checkBoxStyle {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  height: 13px;
  width: 13px;
  border: solid 1px black;
  opacity: 0.8;
  background-color: #eeeeee;
}
