@import "variable.css";

@import "css/greetings.css";
@import "css/background.css";
@import "css/todo.css";
@import "css/info.css";

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
